<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.www.androideverest">
    <!-- اعلام دسترسی های اپلیکیشن -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PhotoPickerActivity"></activity>
        <!-- اعلام Activity های این اپلیکیشن -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HttpRequestActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NotificationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ForegroundServiceTestActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FileManagerActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CalculatorActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListViewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ServiceTestActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SharedPreferencesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WidgetsListenerActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AnimationActivity"
            android:parentActivityName=".MainActivity" /> <!-- اعلام Service های این اپلیکیشن -->
        <service
            android:name=".ServiceTest"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".ForegroundServiceTest"
            android:enabled="true"
            android:exported="false" /> <!-- اعلام Broadcast Receiver های این اپلیکیشن -->
        <receiver android:name=".NotificationReceiver">

            <!-- اعلام سیگنال (اکشن) های این Broadcast Receiver -->
            <intent-filter>
                <action android:name="com.example.www.androideverest.NOTIFICATION_ACTION" />
                <action android:name="com.example.www.androideverest.RECEIVER_ACTION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>